// Body
$body-bg: #f8fafc;
$blue:#0A123E;
$blue30: #0a123e62;
$white: #FFFFFF;
$white50: #ffffff85;
$green: #00BE65;
$green70: #00be65b2;
$orange: #FA6F21;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@mixin header($font-size: 18px, $color: $orange) {
    font-size: $font-size;
    color: $color;
    font-weight: bold;
}

d-center {
    display: flex;
    justify-content: center;
}