// Body
$body-bg: #f8fafc;
$blue:#0A123E;
$blue30: #0a123e62;
$white: #FFFFFF;
$white50: #ffffff85;
$green: #00BE65;
$orange: #FA6F21;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
