// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

//Icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles
@import 'header';
@import 'footer';
@import 'card';
@import 'access';


* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body  {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
  
}