.card-header {
    background-color: $white;
    header {
        #title {
            font-size: 18px;
            color: black;
        }

        #link {
            font-size: 14px;
            color: gray;
        }
    }
}
